# Generic ignores
.env
.DS_Store
*.log*
*.db
*.db-shm
*.db-wal

# Ignore folders
.docker
.storage
.cloud
deps
media
mongo
scrypted
backups

# Home Assistant
/home-assistant/secrets.yaml
/home-assistant/custom_components
/home-assistant/www/community

# Zigbee2MQTT
/zigbee2mqtt/log
/zigbee2mqtt/state.json
/zigbee2mqtt/coordinator_backup.json