# Generic ignores
.env
.DS_Store
*.log*
*.db
*.db-shm
*.db-wal

# Ignore folders
.docker
.storage
.cloud
deps
media
mongo
backups

# Home Assistant
/home-assistant/secrets.yaml
/home-assistant/custom_components
/home-assistant/www/community